<div class="collection-wrapper">
  <h1>{{bggUser}}'s Collection</h1>

  <table sort-table (sorted)="onSorted($event)" class="table table-sm">
    <thead class="thead-default">
      <tr>
        <th sort-column="plays">Plays</th>
        <th sort-column="game" sort-direction="asc">Game</th>
        <th sort-column="own">Owned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collection of bggUserCollection">
        <td>{{collection.numplays[0]}}</td>
        <td><a href="https://boardgamegeek.com/boardgame/{{collection.$.collid}}">{{collection.name[0]._}}</a></td>
        <td>{{collection.status[0].$.own}}</td>
      </tr>
    </tbody>
  </table>
</div>