<user-navigation [user]="user"></user-navigation>

<div class="collection-wrapper">
  <h1>{{user.id}}'s Plays</h1>

  <div *ngIf="user.plays; else loading">
    <table sort-table (sort)="onSort($event)" class="table table-sm table-hover">
      <thead class="thead-default">
        <tr>
          <th sort-column="plays-date" sort-direction="asc">Date</th>
          <th sort-column="plays-game">Game</th>
          <th sort-column="plays-quantity">Plays</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let play of user.plays">
          <td>{{play.$.date}}</td>
          <td><a href="https://boardgamegeek.com/boardgame/{{play.item[0].$.objectid}}">{{play.item[0].$.name}}</a></td>
          <td>{{play.$.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loading>
    <div *ngIf="error">
      <div class="error">No stats available.</div>
    </div>

    <div *ngIf="!error">
      <div class="loading">Loading...</div>
    </div>
  </ng-template>
</div>