<user-navigation [user]="user"></user-navigation>

<h1>{{user.id}}'s Dashboard</h1>

<div *ngIf="user.collection; else loading">
  <div *ngIf="totalPlays" class="chart">
    <ngx-charts-number-card
      [view]="cardView"
      [scheme]="colorScheme"
      [results]="totalPlays"
      [labelFormatting]="cardPlayedLabel">
    </ngx-charts-number-card>
  </div>

  <div *ngIf="totalOwned" class="chart">
    <ngx-charts-number-card
      [view]="cardView"
      [scheme]="colorScheme"
      [results]="totalOwned"
      [labelFormatting]="cardOwnedLabel">
    </ngx-charts-number-card>
  </div>
</div>

<h2>Top Games Played</h2>

<div *ngIf="user.plays3; else loading">
  <div *ngIf="user.plays3" class="chart">
    <h3>Past 3 Months</h3>
    <ngx-charts-pie-chart class="pie-chart"
      [view]="pieView"
      [scheme]="colorScheme"
      [results]="user.plays3"
      [labels]="showLabels"
      [doughnut]="doughnut">
    </ngx-charts-pie-chart>
  </div>

  <div *ngIf="user.plays6" class="chart">
    <h3>Past 6 Months</h3>
    <ngx-charts-pie-chart class="pie-chart"
      [view]="pieView"
      [scheme]="colorScheme"
      [results]="user.plays6"
      [labels]="showLabels"
      [doughnut]="doughnut">
    </ngx-charts-pie-chart>
  </div>

  <div *ngIf="user.plays12" class="chart">
    <h3>Past 12 Months</h3>
    <ngx-charts-pie-chart class="pie-chart"
      [view]="pieView"
      [scheme]="colorScheme"
      [results]="user.plays12"
      [labels]="showLabels"
      [doughnut]="doughnut">
    </ngx-charts-pie-chart>
  </div>
</div>

<ng-template #loading>
  <div *ngIf="error">
    <div class="error">No stats available.</div>
  </div>

  <div *ngIf="!error">
    <div class="loading">Loading...</div>
  </div>
</ng-template>