<user-navigation [user]="user"></user-navigation>

<h1>{{user.id}}'s Dashboard</h1>

<div *ngIf="plays12">
  <ngx-charts-pie-chart class="pie-chart"
    [view]="view"
    [scheme]="colorScheme"
    [results]="plays12"
    [legend]="showLegend"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    [gradient]="gradient">
  </ngx-charts-pie-chart>
</div>

<div *ngIf="plays6">
  <ngx-charts-pie-chart class="pie-chart"
    [view]="view"
    [scheme]="colorScheme"
    [results]="plays6"
    [legend]="showLegend"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    [gradient]="gradient">
  </ngx-charts-pie-chart>
</div>

<div *ngIf="plays3">
  <ngx-charts-pie-chart class="pie-chart"
    [view]="view"
    [scheme]="colorScheme"
    [results]="plays3"
    [legend]="showLegend"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    [gradient]="gradient">
  </ngx-charts-pie-chart>
</div>