nav a {
  color: #888888;
  padding: 10px;
}

nav a:hover {
  color: #333333;
}

nav a.active {
  color: #ff0000;
}

.nav-links {
  font-size: 15px;
  margin: 10px;
  float: left;
}

.title {
  font-size: 32px;
  float: left;
}