h1, h2, h3, h4, h5, h6,
body, input,
.table th, .btn {
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

body {
  color: #333333;
}

.table th {
  font-size: 1.2em;
}

.table thead th:hover {
  cursor: pointer;
}

.container-fluid {
  padding-top: 50px;
}